<% if session[:message] %>
  <p><%= session.delete(:message) %></p>
<% end %>

<ul>
  <% @dir.each do |file| %>
    <li>
      <a href="/<%= file %>"><%= file %></a>
      edit button here
        <a href='/<%= file %>/edit'>Edit</a>
      edit button here
    </li>
  <% end %>
</ul>
